<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduElevate</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

</head>

<body>

    <div id="app">

        <header>
            <div class="headerContainer">
                <h1>{{ sitename }}</h1>
                <div>
                    <input type="text" placeholder="search" @input="searchProducts()">
                </div>
                <button @click="showCheckout" :disabled="isCartEmpty()">
                    {{ cart.length }}
                    <span class="fa-solid fa-cart-shopping"></span> Shopping Cart
                </button>
                

            </div>
        </header>

        <div v-if='showProduct' class="productContainer">

            <div class="sortContainer">
                <span>Sort By:</span>
                <div>
                    <input type="radio" value="subject" v-model="sortOption"> Subject
                </div>
                <div>
                    <input type="radio" value="location" v-model="sortOption"> Location
                </div>
                <div>
                    <input type="radio" value="price" v-model="sortOption"> Price
                </div>
                <div>
                    <input type="radio" value="availability" v-model="sortOption"> Availability
                </div>
                <div>
                    <select v-model="sortOrder">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
            </div>                                  

            <div class="row" style="display: ruby;text-align: center;">
                <div class="col-4 card" style="width: 200px;" v-for="product in sortedProducts" :key="product.id">

                    <img v-bind:src="product.image">
                    <h2 v-text="product.subject"></h2>
                    <p>Location: <span v-text="product.location"></span></p>
                    <p>Price: £<span v-text="product.price"></span></p>
                    <p>Seats Remaining: <span v-text="product.availability"></span></p>
                    <button @click='addItem(product)' v-if="checkAvailability(product)"> Add to cart </button>
                    <button disabled='disabled' v-else>Add to cart</button>
                  
                </div>

                <div v-if="sortedProducts.length == 0">
                    <span>No item found.</span>
                </div>
            </div>

        </div>
        <div v-else class="checkoutProductContainer">

            <!-- Cart Items -->
            <div class="row" style="display: ruby;text-align: center;">
                <div class="col-4 card" style="width: 200px;" v-for="item in groupCart" :key="item.product.id">      
                    <img v-bind:src="item.product.image">
                    <h2 v-text="item.product.subject"></h2>
                    <p>Location: <span v-text="item.product.location"></span></p>
                    <p>Price: £<span v-text="item.product.price"></span></p>
                    <p>Quantity: <span v-text="item.count"></span></p>
                    <button @click='removeItem(item.product)'> Remove </button>
                </div>
            </div>

            <!-- Checkout Section -->
            <div class="checkoutContainer">
                <h2>Checkout</h2>
                <p>
                    <strong>First name:</strong>
                    <input v-model.trim="order.firstName" @input="validateName('firstName')">
                </p>
                <p>
                    <strong>Last name:</strong>
                    <input v-model.trim="order.lastName" @input="validateName('lastName')"> 
                </p>
                <p>
                    <strong>Phone number:</strong> 
                    <input v-model.trimr="order.number">
                </p>
                <p>
                    <strong>Address:</strong> 
                    <input v-model="order.address"/>
                </p>
                <p>
                    <strong>City:</strong> 
                    <input v-model.trim="order.city"/>
                </p>
                <p>
                    <strong>Postcode:</strong> 
                    <input v-model="order.postcode"/>
                </p>
                
                <h2>Order Information</h2>
                <p>Name: {{ fullName }}</p>
                <p>Phone Number: {{order.number}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Postcode: {{order.postcode}}</p>

                <button @click='submitForm()' v-if="valid()">Place Order</button>
                <button disabled='disabled' v-else>Place Order</button>   
            </div>

        </div>
   
    </div>

    <script type="text/javascript">
        let webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'EduElevate',
                products: [],
                cart: [],
                showProduct: true,
                order: {
                    firstName:'',
                    lastName:'',
                    number:'',
                    address:'',
                    city:'',
                    postcode:'',
                    productsBought:[],
                },
                sortOption: 'subject',
                sortOrder: 'asc',
                searchQuery: ''
            },
            created: function() {
                fetch("http://localhost:3000/collections/products/list")
                .then(response => response.json())
                .then(data => {
                    this.products = data;
                })
                .catch(error => {
                    console.error("Error fetching lessons:", error);
                });
            },
            methods: {
                addItem(product) {
                    product.availability--;
                    this.cart.push(product.id);
                },
                checkAvailability(product) {
                    return product.availability > 0;
                },
                showCheckout() {
                    this.showProduct = !this.showProduct;
                },
                removeItem(product){
                    const index = this.cart.indexOf(product.id);
                    if(index !== -1){
                        this.cart.splice(index, 1);
                        product.availability++;
                    }
                    if(this.cart.length === 0){
                        this.showProduct = true;
                    }
                },
                isCartEmpty() {
                    return this.cart.length === 0;
                },
                submitForm() {
                    console.log(this.cart)
                    this.order.productsBought = this.cart;
                    fetch("http://localhost:3000/collections/orders/confirm", 
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(this.order)
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert( 'Order Placed Successfully!' )

                        fetch("http://localhost:3000/collections/products/update", 
                        {
                            method: "PUT",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({cart: this.cart})
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data)
                            this.cart = []
                            
                        })

                    })
                    this.showProduct = true;
                        
                },
                validateName(name) {
                    const regex = /^[a-zA-Z\s]*$/; // Only allows letters and spaces
                    if (!regex.test(this.order[name])) {
                        // Remove any non-letter characters from the input
                        this.order[name] = this.order[name].replace(/[^a-zA-Z\s]/g, '');
                        alert('Please enter a valid name using letters only!');
                    }
                },
                valid() {
                    const nameRegex = /^[a-zA-Z\s]+$/;
                    const isValidName = nameRegex.test(this.fullName) && this.fullName.trim().length > 0;
                    const isValidNumber = /^\d{11}$/.test(this.order.number); 
                    return isValidName && isValidNumber;
                },

                searchProducts($event) {
                    let searchString = event.target.value;

                    fetch(`http://localhost:3000/collections/products/search?query=${searchString}`)
                        .then(response => response.json())
                        .then(data => {
                            this.products = data;
                        })
                        .catch(error => {
                            console.error("Error fetching search results:", error);
                        });
                }
            },
            computed: {
                groupCart() {
                    const grouped= [];
                    this.cart.forEach(id => {
                        if (!grouped[id]) {
                            const product = this.products.find(product => product.id === id);
                            if(product) {
                                grouped[id] = {
                                    product: product,
                                    count: 1
                                }
                            }   
                        } else {
                            grouped[id].count++;
                        }
                    });
                    return Object.values(grouped);
                },
                fullName() {
                    return (this.order.firstName + ' ' + this.order.lastName).trim();
                },
                sortedProducts() {
                    console.log(this.products)
                    return this.products
                    .sort((a, b) => {
                        let result = 0;
                        
                        if (this.sortOption === 'subject')
                        result = a.subject.localeCompare(b.subject);
                        if (this.sortOption === 'location')
                        result = a.location.localeCompare(b.location);
                        if (this.sortOption === 'price')
                        result = a.price - b.price;
                        if (this.sortOption === 'availability')
                        result = a.availability - b.availability;

                        return this.sortOrder === 'asc' ? result : -result;
                    });
                }
            },
        });
    </script>
</body>

</html>