<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduElevate</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

</head>

<body>

    <div id="app">

        <header>
            <div class="headerContainer">
                <h1>{{ sitename }}</h1>
                <button @click="showCheckout" :disabled="isCartEmpty()">
                    {{ cart.length }}
                    <span class="fa-solid fa-cart-shopping"></span> Shopping Cart
                </button>
                

            </div>
        </header>

        <div v-if='showProduct' class="productContainer">

            <div class="sortContainer">
                <label>Sort By:</label>
                <label>
                    <input type="radio" value="subject" v-model="sortOption"> Subject
                </label>
                <label>
                    <input type="radio" value="location" v-model="sortOption"> Location
                </label>
                <label>
                    <input type="radio" value="price" v-model="sortOption"> Price
                </label>
                <label>
                    <input type="radio" value="availability" v-model="sortOption"> Availability
                </label>
                <label>
                    <select v-model="sortOrder">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </label>
            </div>                                  

            <div v-for="product in sortedProducts" :key="product.id">
                <img v-bind:src="product.image">
                <h2 v-text="product.subject"></h2>
                <p>Location: <span v-text="product.location"></span></p>
                <p>Price: £<span v-text="product.price"></span></p>
                <p>Seats Remaining: <span v-text="product.availability"></span></p>
                <button @click='addItem(product)' v-if="checkAvailability(product)"> Add to cart </button>
                <button disabled='disabled' v-else>Add to cart</button>
            </div>

        </div>
        <div v-else class="checkoutProductContainer">

            <!-- Cart Items -->
            <div v-for="item in groupCart" :key="item.product.id">      
                <img v-bind:src="item.product.image">
                <h2 v-text="item.product.subject"></h2>
                <p>Location: <span v-text="item.product.location"></span></p>
                <p>Price: £<span v-text="item.product.price"></span></p>
                <p>Quantity: <span v-text="item.count"></span></p>
                <button @click='removeItem(item.product)'> Remove </button>
            </div>

            <!-- Checkout Section -->
            <div class="checkoutContainer">
                <h2>Checkout</h2>
                <p>
                    <strong>First name:</strong>
                    <input v-model.trim="order.firstName" @input="validateName('firstName')">
                </p>
                <p>
                    <strong>Last name:</strong>
                    <input v-model.trim="order.lastName" @input="validateName('lastName')"> 
                </p>
                <p>
                    <strong>Phone number:</strong> 
                    <input type="number" v-model.number="order.number">
                </p>
                <p>
                    <strong>Address:</strong> 
                    <input v-model="order.address"/>
                </p>
                <p>
                    <strong>City:</strong> 
                    <input v-model.trim="order.city"/>
                </p>
                <p>
                    <strong>Postcode:</strong> 
                    <input v-model="order.postcode"/>
                </p>
                
                <h2>Order Information</h2>
                <p>Name: {{ fullName }}</p>
                <p>Phone Number: {{order.number}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Postcode: {{order.postcode}}</p>

                <button @click='submitForm()' v-if="valid()">Place Order</button>
                <button disabled='disabled' v-else>Place Order</button>   
            </div>

        </div>
   
    </div>

    <script type="text/javascript">
        let webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'EduElevate',
                products: [{
                    id: 1,
                    subject: "Computer Science",
                    location: "London",
                    price: 2000,
                    availability: 5,
                    image: "./images/compsci.png"
                },
                {
                    id: 2,
                    subject: "Biology",
                    location: "London",
                    price: 200,
                    availability: 5,
                    image: "./images/biology.png"
                },
                {
                    id: 3,
                    subject: "Maths",
                    location: "London",
                    price: 200,
                    availability: 5,
                    image: "./images/math.png"
                },
                {
                    id: 4,
                    subject: "Physics",
                    location: "London",
                    price: 300,
                    availability: 5,
                    image: "./images/physics.png"
                },
                {
                    id: 5,
                    subject: "Chemistry",
                    location: "London",
                    price: 1000,
                    availability: 5,
                    image: "./images/chemistry.png"
                },
                {
                    id: 6,
                    subject: "Computer Science",
                    location: "Mauritius",
                    price: 2000,
                    availability: 50,
                    image: "./images/compsci.png"
                },
                {
                    id: 7,
                    subject: "Biology",
                    location: "Dubai",
                    price: 200,
                    availability: 10,
                    image: "./images/biology.png"
                },
                {
                    id: 8,
                    subject: "Maths",
                    location: "Toronto",
                    price: 14000,
                    availability: 15,
                    image: "./images/math.png"
                },
                {
                    id: 9,
                    subject: "Physics",
                    location: "Mauritius",
                    price: 300,
                    availability: 15,
                    image: "./images/physics.png"
                },
                {
                    id: 10,
                    subject: "Chemistry",
                    location: "Toronto",
                    price: 14000,
                    availability: 20,
                    image: "./images/chemistry.png"
                }
                ],
                cart: [],
                showProduct: true,
                order: {
                    firstName:'',
                    lastName:'',
                    number:'',
                    address:'',
                    city:'',
                    postcode:''
                },
                sortOption: 'subject',
                sortOrder: 'asc'
            },
            methods: {
                addItem(product) {
                    product.availability--;
                    this.cart.push(product.id);
                },
                checkAvailability(product) {
                    return product.availability > 0;
                },
                showCheckout() {
                    this.showProduct = !this.showProduct;
                },
                removeItem(product){
                    const index = this.cart.indexOf(product.id);
                    if(index !== -1){
                        this.cart.splice(index, 1);
                        product.availability++;
                    }
                    if(this.cart.length === 0){
                        this.showProduct = true;
                    }
                },
                isCartEmpty() {
                    return this.cart.length === 0;
                },
                submitForm() {
                    alert('Order Placed Successfully!');
                },
                validateName(name) {
                    const regex = /^[a-zA-Z\s]*$/; // Only allows letters and spaces
                    if (!regex.test(this.order[name])) {
                        // Remove any non-letter characters from the input
                        this.order[name] = this.order[name].replace(/[^a-zA-Z\s]/g, '');
                        alert('Please enter a valid name using letters only!');
                    }
                },
                valid() {
                    const nameRegex = /^[a-zA-Z\s]+$/;
                    const isValidName = nameRegex.test(this.fullName) && this.fullName.trim().length > 0;
                    const isValidNumber = /^\d{10,}$/.test(this.order.number); 
                    return isValidName && isValidNumber;
                }

            },
            computed: {
                groupCart() {
                    const grouped= [];
                    this.cart.forEach(id => {
                        if (!grouped[id]) {
                            const product = this.products.find(product => product.id === id);
                            if(product) {
                                grouped[id] = {
                                    product: product,
                                    count: 1
                                }
                            }   
                        } else {
                            grouped[id].count++;
                        }
                    });
                    return Object.values(grouped);
                },
                fullName() {
                    return (this.order.firstName + ' ' + this.order.lastName).trim();
                },
                sortedProducts() {
                    return [...this.products].sort((a, b) => {
                        let result = 0;
                        
                        if (this.sortOption === 'subject')
                        result = a.subject.localeCompare(b.subject);
                        if (this.sortOption === 'location')
                        result = a.location.localeCompare(b.location);
                        if (this.sortOption === 'price')
                        result = a.price - b.price;
                        if (this.sortOption === 'availability')
                        result = a.availability - b.availability;

                        return this.sortOrder === 'asc' ? result : -result;
                    });
                }
            }
        });
    </script>
</body>

</html>